<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nzr.animalap.mapper.PostMapper">
    <select id="list" resultType="com.nzr.animalap.pojo.Post">
        select p.id,p.user_id,u.nickname,p.content,p.createtime,p.flag from f_post p left join f_user u on p.user_id=u.id
    </select>
    <select id="search" resultType="com.nzr.animalap.pojo.Post">
        select p.id,p.user_id,u.nickname,p.content,p.createtime,p.flag from f_post p left join f_user u on p.user_id=u.id
                    where u.username like #{keyword} or p.content like #{keyword}
    </select>
    <update id="banned" parameterType="com.nzr.animalap.pojo.Post">
        update f_post set flag=0 where id=#{id}
    </update>
    <update id="unblock" parameterType="com.nzr.animalap.pojo.Post">
        update f_post set flag=1 where id=#{id}
    </update>
    <select id="rch" resultType="com.nzr.animalap.pojo.Post">
        select id,user_id,content from f_post
            where flag=1 and content like #{keyword}
    </select>
</mapper>