<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nzr.animalap.mapper.UserMapper">
    <resultMap id="detail" type="com.nzr.animalap.queryVo.UserDetailQuery">
        <id property="id" column="id"></id>
        <result property="username" column="username"></result>
        <result property="nickname" column="nickname"></result>
        <result property="updatetime" column="updatetime"></result>
        <result property="avatarId" column="avatar_id"></result>
        <result property="flag" column="flag"></result>
        <result property="phone" column="phone"></result>
        <result property="status" column="status"></result>
        <association property="avatar" javaType="com.nzr.animalap.pojo.Avatar">
            <id property="id" column="aid"></id>
            <result property="avatarName" column="avatar_name"></result>
            <result property="address" column="address"></result>
            <result property="flag" column="aflag"></result>
        </association>
    </resultMap>

    <select id="checkUsernameAndPassword" resultType="com.nzr.animalap.pojo.User">
        select id,username from f_user
        where username=#{username} and password=#{password};
    </select>
    <select id="adminLogin" resultType="com.nzr.animalap.pojo.User">
        select id,username from f_user
        where flag=1 and username=#{username} and password=#{password}
    </select>
    <select id="checkrepeat" resultType="com.nzr.animalap.pojo.User">
        select id,username from f_user
        where username=#{username}
    </select>
    <insert id="signup" parameterType="com.nzr.animalap.pojo.User">
        insert into f_user (username,password,nickname,createtime,updatetime,avatar_id,flag,phone,status,description)
        value (#{username},#{password},#{nickname},#{createtime},#{updatetime},#{avatarId},#{flag},#{phone},#{status},#{description});
    </insert>
    <update id="updatePassword">
        update f_user set password=#{password} where id=#{id}
    </update>
    <select id="getByUsername" resultType="com.nzr.animalap.pojo.User">
        select id,password from f_user where username=#{username}
    </select>
    <select id="nicknameList" resultType="com.nzr.animalap.queryVo.UserQuery">
        select id,nickname from f_user where flag=2
    </select>
    <select id="detailList" resultMap="detail">
        select u.id,u.username,u.nickname,u.updatetime,u.avatar_id,u.flag,u.phone,u.status,
               a.id aid,a.avatar_name,a.address,a.flag aflag
            from f_user u left join f_avatar a on u.avatar_id=a.id where u.flag!=1 and a.flag=1
    </select>
    <delete id="delete">
        delete from f_user
        <where>
            <if test="id != 1">
                id=#{id}
            </if>
            <if test="id == 1">
                and id=-1;
            </if>
        </where>
    </delete>
    <select id="getById" resultType="com.nzr.animalap.pojo.User">
        select id,username,nickname,updatetime,avatar_id,flag,phone,status,description from f_user where id=#{id} and (flag=0 or flag=2)
    </select>
    <update id="update" parameterType="com.nzr.animalap.pojo.User">
        update f_user set username=#{username},nickname=#{nickname},updatetime=#{updatetime},avatar_id=#{avatarId},
                          flag=#{flag},phone=#{phone},status=#{status},description=#{description}
        <where>
            <if test="id != 1">
                id=#{id}
            </if>
            <if test="id == 1">
                and id=-1
            </if>
        </where>
    </update>
    <select id="search" resultMap="detail">
        select u.id,u.username,u.nickname,u.updatetime,u.avatar_id,u.flag,u.phone,u.status,
            a.id aid,a.avatar_name,a.address,a.flag aflag
        from f_user u left join f_avatar a on u.avatar_id=a.id
        <where>
            u.flag!=1 and a.flag=1
            <if test="keyword != null">
                and (username like #{keyword} or nickname like #{keyword} or phone like #{keyword})
            </if>
        </where>
    </select>
    <select id="rch" resultType="com.nzr.animalap.queryVo.UserList">
        select u.id,u.nickname,u.avatar_id,u.description,a.address from f_user u left join f_avatar a on u.avatar_id=a.id
            where u.status=1 and u.flag=0 and a.flag=1 and (u.nickname like #{keyword} or u.id like #{keyword})
    </select>
</mapper>
