<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>动物详情</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <style>
        body{
            background-color: #cce8cf;
        }
        #font1{
            font-family: "STXinwei", "华文新魏", STXinwei, serif;
            font-size: 36px;
            color: #e8e8e8;
            text-shadow: 2px 2px #000000;
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example" _mstaria-label="420797">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" th:href="@{/view/home}" id="font1">瑞宠领养平台</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation" _mstaria-label="320099">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" th:href="@{/view/animal}"><i class="bi bi-clipboard-heart"></i>小动物们</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/view/bbs}"><i class="bi bi-cup-hot"></i>论坛</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/view/notice}"><i class="bi bi-bell"></i>平台公告</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-diamond"></i>我的账号</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" th:href="@{/view/user/home}"><i class="bi bi-person"></i>个人主页</a></li>
                            <li><a class="dropdown-item" href="#" th:href="@{/view/user/agreement}"><i class="bi bi-list-columns"></i>我的申请</a></li>
<!--                            <li><a class="dropdown-item" href="#" th:href="@{/view/user/setting}"><i class="bi bi-person-gear"></i>账户安全</a></li>-->
                            <hr>
                            <li><a class="dropdown-item" href="#" th:href="@{/view/user/logout}"><i class="bi bi-box-arrow-in-right"></i>退出登录</a></li>
                        </ul>
                    </li>
                </ul>
                <form role="search" action="#" th:action="@{/view/search/animal}" method="get">
                    <input class="form-control" name="keyword" type="search" placeholder="Search" aria-label="Search" _mstplaceholder="74607" _mstaria-label="74607">
                </form>
            </div>
        </div>
    </nav>
</header>
<br>
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="https://picsum.photos/800/800" target="_blank"><img src="https://i.imgtg.com/2023/03/14/flWuB.jpg" style="max-width: 400px" th:src="${animal.firstpicture}" alt=""></a>
            </div>
            <div class="col-md-6">
                <h2 style="color: rgba(0,0,0,0.5)">动物名称</h2>
                <h4 th:text="${animal.animalName}">小黑</h4>
                <p>性别：<span th:text="${animal.gender}">公</span></p>
                <p>年龄：<span th:text="${animal.age}">3</span>岁</p>
                <p>体表颜色：<span th:text="${animal.color}">灰白色</span></p>
                <p>性格特征：<span th:text="${animal.nature}">黏人、温顺</span></p>
                <p>健康情况：<span th:text="${animal.health}">良好</span></p>
                <p>类型所属：<span th:text="${animal.type.categoryName}">猫</span></p>
                <p>当前主人：<span th:text="${animal.user.nickname}">小帅</span></p>
                <h3 style="color: rgba(0,0,0,0.5)">动物介绍</h3>
                <p th:text="${animal.description}">这里是人物简介，可以写一些关于人物的背景、经历、成就等信息。</p>
                <div class="alert alert-info" role="alert">
                    <h4>大家对它的评价</h4>

                </div>
                <p style="color: #5b5b5b;position: relative;left: 80%">更新日期：<span th:text="${#dates.format(animal.updatetime,'yyyy年MM月')}">2023年3月</span></p>
            </div>
        </div>
        <div class="d-grid gap-2">
            <a class="btn btn-outline-success" th:href="@{/view/animal/adopt(id=${animal.id})}">我要领养它❤</a>
        </div>
    </div>

</main>
<footer class="text-muted py-5" style="position: fixed;bottom: 0px;width: 100%">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Back to top</a>
        </p>
        <p>© 2002–2023 Person, Inc. · <a href="https://blog.csdn.net/qq_45630650" target="_blank">Privacy</a> · <a >Terms</a></p>
    </div>
</footer>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
</body>
</html>