<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>加入我们吧</title>
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}">
</head>
<body>
<div class="gradient">
</div>
<div class="container">
    <img class="pic pic0" src="https://i.imgtg.com/2023/03/09/YS5pi.jpg" >
    <img class="pic pic1" src="https://i.imgtg.com/2023/03/09/YSqkL.jpg" >
    <img class="pic pic2" src="https://i.imgtg.com/2023/03/09/YSa6C.jpg" >
    <img class="pic pic3" src="https://i.imgtg.com/2023/03/09/YSpxP.jpg" >
    <img class="pic pic4" src="https://i.imgtg.com/2023/03/09/YSJJb.jpg" >
    <img class="pic pic5" src="https://i.imgtg.com/2023/03/09/YSPfl.jpg" >
    <img class="pic pic6" src="https://i.imgtg.com/2023/03/09/YStBg.jpg" >
    <img class="pic pic7" src="https://i.imgtg.com/2023/03/09/YS4ZB.jpg" >
</div>
<div class="foot">
    <a href="#" th:href="@{/view/login}">快来加入我们吧</a>
    <p>@瑞宠小动物领养平台</p>
</div>
</body>
</html>