<!DOCTYPE html>
<html lang="en">
<head>
    <title>论坛</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <style>
        body{
            background-color: #cce8cf;
        }
        #font1{
            font-family: "STXinwei", "华文新魏", STXinwei, serif;
            font-size: 36px;
            color: #e8e8e8;
            text-shadow: 2px 2px #000000;
        }
        .nav-tabs li {
            width: 60px;
        }

        .nav-tabs > li > a {
            font-size: 15px;
            color: gray;
            border: none;
            background-color: transparent;
        }

        .nav-tabs > li > a:hover,
        .nav-tabs > li > a:focus {
            font-weight: bold;
            font-size: 16px;
            color: gray;
            /*border-top: 1px solid black;*/
            /*border-bottom: 1px solid black;*/
        }

    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example" _mstaria-label="420797">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" th:href="@{/view/home}" id="font1">瑞宠领养平台</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation" _mstaria-label="320099">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#" th:href="@{/view/animal}"><i class="bi bi-clipboard-heart"></i>小动物们</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#" th:href="@{/view/bbs}"><i class="bi bi-cup-hot"></i>论坛</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/view/notice}"><i class="bi bi-bell"></i>平台公告</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-diamond"></i>我的账号</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" th:href="@{/view/user/home}"><i class="bi bi-person"></i>个人主页</a></li>
                            <li><a class="dropdown-item" href="#" th:href="@{/view/user/agreement}"><i class="bi bi-list-columns"></i>我的申请</a></li>
<!--                            <li><a class="dropdown-item" href="#" th:href="@{/view/user/setting}"><i class="bi bi-person-gear"></i>账户安全</a></li>-->
                            <hr>
                            <li><a class="dropdown-item" href="#" th:href="@{/view/user/logout}"><i class="bi bi-box-arrow-in-right"></i>退出登录</a></li>
                        </ul>
                    </li>
                </ul>
                <form role="search" action="#" th:action="@{/view/search/animal}" method="get">
                    <input class="form-control" name="keyword" type="search" placeholder="Search" aria-label="Search"
                           _mstplaceholder="74607" _mstaria-label="74607">
                </form>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="container-fluid">
        <br>
        <h5 style="position: relative;left: 40%">曾经，我发过的帖子（如想查看他人帖子可使用右上搜索）</h5>
        <div id="table1" style="z-index: 1">
            <div class="row" style="width: 60%;position: relative;left: 20%" th:fragment="searchList">
                <div class="list-group" th:each="post,iterStat : ${pageInfo.list}">
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true" th:href="@{/view/bbs/detail(id=${post.id})}">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1" th:text="${post.title}">List group item heading</h5>
                            <small th:text="${#dates.format(post.createtime,'yyyy年MM月dd日')}">2002年5月17日</small>
                        </div>
                        <p class="mb-1" style="color: #5d4545" th:text="${post.nickname}">倪先生</p>
                        <small>评论人数：<span th:text="${post.replyCount}">20</span></small>
                    </a>
                </div>
                <div class="btn-group" style="position: relative;left: 20%">
                    <div class="three wide column">
                        <button  id="prePage" th:unless="${pageInfo.isFirstPage}">
                            上一页
                        </button>
                    </div>
                    <div class="two wide column">
                        <button  id="nextPage" th:unless="${pageInfo.isLastPage}">
                            下一页
                        </button>
                    </div>
                    <div class="five wide column">
                        第<input name="gotoPage" type="text" style="width: 20%">页
                        <button id="goto" type="button" th:unless="${pageInfo.list!=null}">直达</button>
                    </div>
                    <div class="six wide column">
                        <p style="height: 40px;vertical-align: middle;line-height: 30px;">第 <span
                                th:text="${pageInfo.pageNum}"></span> 页，共 <span id="maxPage"
                                                                                th:text="${pageInfo.pages}"></span>
                            页，有 <span th:text="${pageInfo.total}"></span> 条记录</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <footer class="container">
        <p class="float-end" style="position: absolute;left: 60%"><a href="#">Back to top</a></p>
        <p>© 2002–2023 Person, Inc. · <a href="https://blog.csdn.net/qq_45630650" target="_blank">Privacy</a> · <a >Terms</a></p>
    </footer>
</main>
<script>
    var n = 1;
    var max = document.getElementById("maxPage").innerText;
    $("#table1").on('click', '#goto', function () {
        x = $("[name='gotoPage']").val();
        if (x > 0 && x <= max) {
            n = x;
            loaddata();
        } else {
            alert("页数输出有误");
        }
    });
    $("#table1").on('click', '#prePage', function () {
        n--;
        loaddata();
    });
    $("#table1").on('click', '#nextPage', function () {
        n++;
        loaddata();
    });
    function loaddata(){
        $("#table1").load("/view/search/bbs", {
            pageNum: n,
        });
    }
</script>
</body>
</html>